.InputSpaceView {
  grid-area: i;
  border: 1px dashed #e4e4e4;
  padding: 15px;
  margin: 5px;
  width: 280px;
}

.inputSpaceViewTitleWrapper {
  display: flex;

  .inputSpaceViewTitle {
    padding: 0;
  }
}

.FeatureTable {
  margin: 0 10px;
  border: 1px solid lightgray;
}
.FeatureTable > thead {
  border-bottom: 1px solid lightgray;
}
.IndividualPlotStatusView {
  display: flex;
  width: 100%;

  .selectedInstanceInfo {
    margin: 5px;
  }
}
