.RankingInspectorView {
  grid-area: d;

  // background-color: #fbfbfb;
  border: 1px solid #f1f0f0;
  padding: 10px;

  .subTitle {
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
  }
  
  .rankingInspectorViewTitleWrapper {
    display: flex;

    .rankingInspectorViewTitle {
        grid-area: t;
        padding: 0;
    }
  }

  .SpaceView {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 40px 110px 300px 100px;
    grid-template-areas: // nv: navigation bar, lg: legend, st: individual status, dp: distortion plot
      't t t'
      'sm sm sm'
      'i mt tr'
      'lg mt tr';
    background-color: #f5f4f4;
    border: 1px solid #e2e2e2;
    padding: 10px;
  }

  .spaceViewTitleWrapper { 
    grid-area: t;
    display: flex;
    justify-content: space-between;
  }

  .spaceOverview { 
    grid-area: sm; 
    display: grid;
    grid-template-columns: 27% 5% 45% 5% 18%;
    grid-template-rows: 20px 30px 30px;
    grid-template-areas:
      'it i1 mt i2 ot'
      'id i1 md i2 od'
      'im i1 mm i2 om';
  }

  .inputSpaceTitle { grid-area: it; }
  .inputSpaceDescription { grid-area: id; }
  .inputSpaceMeasure { grid-area: im; }
  .mappingSpaceTitle { grid-area: mt; }
  .mappingSpaceDescription { grid-area: md; }
  .mappingSpaceMeasure { grid-area: mm; display: flex; justify-content: center; }
  .outputSpaceTitle { grid-area: ot; }
  .outputSpaceDescription { grid-area: od; }
  .outputSpaceMeasure { grid-area: om; }
  .intervalSpace1 { grid-area: i1; }
  .intervalSpace2 { grid-area: i2; }

  .inputSpaceTitle,
  .mappingSpaceTitle,
  .outputSpaceTitle {
    justify-self: center;
    color: #00346b;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .intervalSpace1,
  .intervalSpace2 {
    align-self: center;
    justify-self: center;
  }

  .utilityWrapper,
  .groupFairnessWrapper {
    width: 30%;
  }

  .individualFairnessWrapper {
    width: 100%;
  }

  .utility,
  .inputGroupFairness,
  .mappingGroupFairness,
  .outputGroupFairness,
  .individualFairness {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .LegendView { grid-area: lg; }
  .OutputSpaceView { grid-area: tr; }

  .InspectionComponentsView {
  }

  .MatrixWrapper {
    grid-area: mt;
    padding-top: 10px;
    display: flex;

    .IndividualStatusView {
      width: 25%;

      .IndividualStatus {
          height: 200px;
          padding: 5px;
          margin: 5px;
          background-color: #f7f7f7;
          border: 1px solid lightgray;
      }
    }
  }
  
  .DistortionPlot {
    grid-area: dp;

    .rankingInspectorViewBar {
      margin-left: 10px;
      padding: 5px;
      background-color: #e5e5e5;
      border: 1px solid lightgray;
      
      display: flex;
      align-items: center;
      // justify-content: flex-end;
    }
  }

  .CorrelationView {
    grid-area: cr;
  
    .matrixColorDropdownWrapper,
    .matrixDropdownWrapper,
    .correlationTableWrapper {
      border-radius: 3px;
      margin: 5px;    
      padding: 5px;
      align-items: center;
  
      .sortMatrixXdropdownWrapper,
      .sortMatrixYdropdownWrapper {
        display: flex;
        align-items: center;
        margin: 3px;
      }

      .colorMatrixDropdown,
      .sortMatrixXdropdown,
      .sortMatrixYdropdown {
        width: 90%;
      }
    }
  }
}