[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2018.5"
python-slugify = "==1.2.5"
redis = ">=2.10.5"
django-environ = "==0.4.5"
django-model-utils = "==3.1.2"
django-allauth = "==0.36.0"
django-crispy-forms = "==1.7.2"
django-redis = "==4.9.0"
djangorestframework = "==3.8.2"
coreapi = "==2.3.3"
ipdb = "==0.11"
"psycopg2-binary" = "==2.7.5"
pytest = "==3.6.4"
pytest-sugar = "==0.9.1"
"flake8" = "==3.5.0"
coverage = "==4.5.1"
django-debug-toolbar = "==1.9.1"
django-extensions = "==2.1.0"
pytest-django = "==3.3.3"
Pillow = "==8.1.1"
"argon2_cffi" = "==18.1.0"
Django = "==2.0.8"
Werkzeug = "==0.14.1"
Sphinx = "==1.7.6"
factory_boy = "==2.11.1"
django_coverage_plugin = "==1.5.0"
setuptools = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-rest-auth = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
statsmodels = "*"
scipy = "*"
simplejson = "*"
themis-ml = "*"
django-storages = "*"
fairsearchcore = "*"

[dev-packages]

[requires]
python_version = "3.7"
