.RankingView {
  grid-area: rk;
  display: grid;
  grid-template-areas:
    't s s tr sr'
    'sn si rs rs rs';

  margin: 0 20px;

  .rankingViewTitleWrapper {
      grid-area: t;
      display: flex;

      .rankingViewTitle {
          padding: 0;
      }
  }

  .outputSummary {
    grid-area: s;
    margin: 10px;
  }

  .topkRankingView {
    grid-area: tr;
  }
  .selectedRankingView {
    grid-area: sr;
  }
  .sliderName {
    grid-area: sn;
  }
  .sliderInput {
    grid-area: si;
  }
  .rankingSliderWrapper {
    grid-area: rs;
    padding: 0 20px;
    .wholeRankingChartWrapper,
    .topkSliderWrapper {
      display: flex;
      justify-content: center;
    }
  }
}