.RankingView {
  grid-area: rk;
  display: grid;
  grid-template-areas:
    't s tr sr'
    'sn rs rs rs';

  .rankingViewTitleWrapper {
      grid-area: t;
      display: flex;

      .rankingViewTitle {
          padding: 0;
      }
  }

  .outputSummary {
    grid-area: s;
    margin: 10px;
  }

  .topkRankingView {
    grid-area: tr;
  }
  .selectedRankingView {
    grid-area: sr;
  }
  .sliderName {
    grid-area: sn;
  }
  .rankingSliderWrapper {
    grid-area: rs;
    padding: 0 20px;
  }
}