.InputSpaceView {
  grid-area: i;

  border-top: 1px solid #d9d9d9;
}

.inputSpaceViewTitleWrapper {
  display: flex;

  .inputSpaceViewTitle {
      padding: 0;
  }
}

.FeatureTable {
  margin: 0 10px;
  border: 1px solid lightgray;
}
.FeatureTable > thead {
  border-bottom: 1px solid lightgray;
}
.IndividualPlotStatusView {
  display: flex;
  width: 100%;

  .selectedInstanceInfo {
      margin: 5px;
  }
}