.InputSpaceView {
  grid-area: i;

  background-color: #e8e7e7;
}

.inputSpaceViewTitleWrapper {
  display: flex;

  .inputSpaceViewTitle {
      padding: 0;
  }
}

.FeatureTable {
  margin: 0 10px;
  border: 1px solid lightgray;
}
.FeatureTable > thead {
  border-bottom: 1px solid lightgray;
}
.IndividualPlotStatusView {
  display: flex;
  width: 100%;

  .selectedInstanceInfo {
      margin: 5px;
  }
}