.IndividualInspectionView {
    grid-area: ii;
    width: 20%;

    /* border-top: 1px solid #d9d9d9; */
    border-left: 1px dashed #d9d9d9;
    padding: 5px;
    /* margin: 5px 0; */
    background-color: #f5f4f4;

    // .instanceDataTableWrapper {
    //     display: flex;
    // }
    .IndividualStatus {
        height: 200px;
    }
    .infoWrapper {
        margin: 10px;
    }
    .selectedRankingIntervalInfo {
        width: 80%;
    }
}