.IndividualInspectionView {
    grid-area: ii;
    width: 20%;

    .localInspectorTitle {
        background-color: #00346b;
        color: white;
    }

    .individualInspectionTitle {
        border-bottom: 1px solid grey;
        margin-bottom: 5px;
    }
    /* margin: 5px 0; */
    // background-color: #f5f4f4;

    // .instanceDataTableWrapper {
    //     display: flex;
    // }
    .IndividualStatus {
        height: 200px;
        padding-top: 5px;
    }
    .infoWrapper {
        margin: 10px;
    }
    .selectedRankingIntervalInfo {
        width: 80%;
    }
}