.IndividualFairnessInspectionView {
    height: 500px;

    .featureInspectorOverview {
        display: flex;
    }

    .outlierAnalysis {
        width: 33%;
        height: 250px;
        margin: 5px;
        padding: 10px;
        background-color: #f0f0f0;
        overflow-y: scroll;
    }
    .featureListForOutlier {
        overflow-y: scroll;
    }
    .featureForOutlierTitle {
        display: flex;
        justify-content: space-between;
    }
    .similarity {
        font-size: 0.9rem;
    }
    .featureInspectorOverview {
        display: flex;
    }
    .featureRow {
        
    }
    .perturbedMeasure {
        margin: 5px 0;
        color: #023d74;
        font-size: 0.9rem;
        font-weight: 600;
    }
    .ccAnalysis { // Counterfactuals and Critical Region
        width: 66%;
        height: 250px;
        margin: 5px;
        padding: 10px;
        background-color: #f0f0f0;
        overflow-y: scroll;
    }
    .featureImpactsList {
        width: 100%;
    }
    .ccForFeature {
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
}