.IndividualFairnessInspectionView {
    height: 500px;
    display: flex;

    .outlierAnalysis {
        width: 33%;
        margin: 5px;
        padding: 10px;
        background-color: #f0f0f0;
        overflow-y: scroll;
    }
    .featureForOutlier {
        overflow-y: scroll;
    }
    .ccAnalysis { // Counterfactuals and Critical Region
        width: 66%;
        margin: 5px;
        padding: 10px;
        background-color: #f0f0f0;
        overflow-y: scroll;
    }
    .featureImpactsList {
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
    .featureImpact {
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
}