.IndividualFairnessView {
  grid-area: id;

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30px 350px 230px;
  grid-template-areas: // nv: navigation bar, lg: legend, st: individual status, dp: distortion plot
      't t'
      'mt mt'
      'dp dp';
  
  .individualFairnessViewTitleWrapper {
      display: flex;

      .individualFairnessViewTitle {
          grid-area: t;
          padding: 0;
      }
  }
  .MatrixWrapper {
      grid-area: mt;
      padding-top: 10px;
      display: flex;

      .IndividualStatusView {
          width: 25%;

          .IndividualStatus {
              height: 200px;
              padding: 5px;
              margin: 5px;
              background-color: #f7f7f7;
              border: 1px solid lightgray;
          }
      }
      

      .MatrixView {
      }
  }
  .Legend {
      grid-area: lg;
  }
  
  .DistortionPlot {
      grid-area: dp;

      .IndividualFairnessViewBar {
          margin-left: 10px;
          padding: 5px;
          background-color: #e5e5e5;
          border: 1px solid lightgray;
          
          display: flex;
          align-items: center;
          // justify-content: flex-end;
      }
  }
}