
.Menubar {
    grid-area: m;

    width: 100%;

    display: grid;
    grid-template-columns: 15% 6% 20% 35%;
    grid-template-rows: 100%;
    grid-template-areas: 
      't a r f';
    
    align-items: center;

    background-color: #ffffff;
    color: #003569;
    border-bottom: 1px solid #cccccc;

    .appTitle {
      grid-area: t;

      font-size: 25px;
      font-weight: 800;
      text-transform: uppercase;
      align-items: center;
      margin-left: 10px;
    }

    .addDataset {
      grid-area: d;
      align-items: center;
      padding: 9px 9px;

      display: grid;
      .addDatasetTitle {
          justify-self: center;
      }
    }
    .addRanking {
      grid-area: a;
      align-items: center;
      justify-self: center;
      padding: 17px 20px;
    }

    .FilterView {
        grid-area: f;
    }

    .ranking {
      grid-area: r;
    }

    .ProcessIndicator > div > div {
        font-size: 0.9rem;
    }
}




