.RankingInspector {
    grid-column: 2 / 5;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: 17% 30% 55%;
    grid-template-rows: 15% 70% 30%;
    grid-template-areas: 
        'g rk rk'
        'g i id'
        'g i gf';

    .InputSpaceView,
    .IndividualFairnessView,
    .GroupFairnessUtilityViewWrapper,
    .RankingView,
    .UtilityView {
        margin: 10px;
        background-color: white;
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .Generator {
        grid-area: g;
    }

    .RankingView {
        grid-area: rk;
    }

    .InputSpaceView {
        grid-area: i;

        .FeatureTable {
            margin: 0 10px;
            border: 1px solid lightgray;
        }
        .FeatureTable > thead {
            border-bottom: 1px solid lightgray;
        }
        .IndividualPlotStatusView {
            display: flex;
            width: 100%;
            margin: 10px 10px;

            .IndividualStatus {
                width: 45%;
                height: 200px;
                padding: 5px;
                background-color: #f7f7f7;
                border: 1px solid lightgray;
            }

            .selectedInstanceInfo {
                margin: 5px;
            }
        }
    }

    .IndividualFairnessView {
        grid-area: id;

        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 30px 350px 230px;
        grid-template-areas: // nv: navigation bar, lg: legend, st: individual status, dp: distortion plot
            't t'
            'mt mt'
            'dp dp';
        
        .individualFairnessViewTitle {
            grid-area: t;
        }
        .MatrixView {
            grid-area: mt;
            padding-top: 10px;
        }
        .Legend {
            grid-area: lg;
        }
        .matrixDropdownWrapper {
            background-color: #e5e5e5;
            border: 1px solid lightgrey;
            border-radius: 3px;
            margin: 15px 10px;    
            padding: 5px;
            
            display: flex;
            align-items: center;

            .sortMatrixXdropdown,
            .sortMatrixYdropdown {
                width: 25%;
            }
        }
        .DistortionPlot {
            grid-area: dp;

            .IndividualFairnessViewBar {
                margin-left: 10px;
                padding: 5px;
                background-color: #e5e5e5;
                border: 1px solid lightgray;
                
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }

    .GroupFairnessUtilityViewWrapper {
        grid-area: gf;

        display: grid;
        grid-template-columns: 70% 30%;     // Group Fairness View / Utility View
        grid-template-rows: 10% 30% 60%;

        .GroupFairnessView {
            grid-column: 1;
            grid-row: 1 / 4;

            .title {

            }
            .subTitle {
                display:flex;
                //align-items: center;
                    /* justify-content: center; */
                width: 80%;
                height: 20px;
                margin-left: 10px;
                font-size: 1rem;
                color: #2a4b5a;
                /* font-weight: 500; */
                //background-color: #a7ffe7;
                //border: 1px solid #97dbc8;
            }

            .statParityPlotsWrapper,
            .conditionalParityPlotWrapper
            {
                display: grid;
                grid-template-columns: 30% 10% 60%;

                .topKPlot {
                    grid-column: 1;
                    align-self: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .score {
                    grid-column: 2;
                    align-self: center;

                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #2a4b5a;
                }
                
                .wholeDistribution {
                    grid-column: 3;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
        
                    margin: 3px 0px;
                }
            }
    
            
            .conditionalParityPlot {
                grid-column: 2 / 4;
                grid-row: 2;
    
                // border: 1px solid #d5d5d5;
                margin: 3px 0px;
            }
        }

        .UtilityView {
            grid-column: 2;
            grid-row: 1 / 4;
        }
    }
}