@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import '@blueprintjs/core/lib/css/blueprint.css';

body {
  background-color: $bg-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  color: $dark-blue;
}

.App {
  width: 97.5%;
  height: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -10px;

  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-rows: 20px 30px 350px 400px 800px 80px;
  grid-template-columns: 20% 50% 28%;
  grid-template-areas:
    'mg mg mg'
    'm m m'
    'g r l'
    'g ri ri'
    'g ri ri'
    'f f f';
}

.marginDiv {
  grid-area: mg;
}
.Menubar {
  grid-area: m;
}
.Generator {
  grid-area: g;
}
.RankingView {
  grid-area: r;
}
.RankingsListView {
  grid-area: l;
}
.LocalInspectionView {
  grid-area: ii;
}
.Footer {
  grid-area: f;
}

.RankingInspector {
  grid-area: ri;

  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-rows: 250px 100px 250px 150px 350px;
  grid-template-columns: 20% 40% 20% 17%;
  grid-template-areas:
    'd d d d'
    'd d d d'
    'd d d d';
}

.marginDiv1 {
  grid-area: mg1;
}
.marginDiv2 {
  grid-area: mg2;
}
.marginDiv3 {
  grid-area: mg3;
}
.marginDiv4 {
  grid-area: mg4;
}
.marginDiv5 {
  grid-area: mg5;
}
.marginDiv6 {
  grid-area: mg6;
}
.marginDiv7 {
  grid-area: mg7;
}
.marginDiv8 {
  grid-area: mg8;
}
.marginDiv9 {
  grid-area: mg9;
}
.marginDiv10 {
  grid-area: mg10;
}
.marginDiv10 {
  grid-area: mg11;
}
.marginDiv10 {
  grid-area: mg12;
}

.DatasetView,
.InputSpaceView,
.IndividualFairnessView,
.GroupFairnessView,
.RankingView,
.UtilityView {
  margin: 10px;
  background-color: white;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.rankingInspectorTitle {
  grid-area: rt;
}
.InputSpaceView {
  grid-area: i;
}
// .LegendView { grid-area: lg; }
// .CorrelationView { grid-area: cr; }
.OutputSpaceView {
  grid-area: tr;
}
.LocalInspectionView {
  grid-area: ii;
}
.RankingInspectorView {
  grid-area: d;
}
// .GroupFairnessView { grid-area: gf; }
.UtilityView {
  grid-area: u;
}

.margin {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-end;
}

// UI Components
.step2 {
  color: #54aaff;
  font-size: 1.6rem;
  margin-top: 8px;
  margin-left: 5px;
}
.step3 {
  color: #1c88f3;
  font-size: 1.6rem;
  margin-top: 8px;
  margin-left: 5px;
}

.loadingScreen {
  width: 100%;
  height: 1500px;
  padding-top: 100px;
  text-align: center;
  background-color: #003569;

  .loadingLogo {
    color: white;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .loadingMessage {
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
}
