//@import "reset-css/reset.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import "@blueprintjs/core/lib/css/blueprint.css";

body {
  background-color: $bg-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: $dark-blue;
}

.App {
  width: 97.5%;
  height: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -10px;

  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-rows: 20px 30px 80px 130px 300px 300px 250px 80px;
  grid-template-columns: 20% 15% 43% 20%;
  grid-template-areas:
    'mg mg mg mg'
    'm m m m'
    'g r r l'
    'g r r l'
    'g i id l'
    'g gf id l'
    'g u id l'
    'f f f f';
}

.margin {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-end;
}

.DatasetView,
.InputSpaceView,
.IndividualFairnessView,
.GroupFairnessView,
.RankingView,
.UtilityView {
    margin: 10px;
    background-color: white;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.marginDiv { grid-area: mg; }
.Menubar { grid-area: m; }
.Generator { grid-area: g; }
.RankingsListView { grid-area: l; }
.InputSpaceView { grid-area: i; }
.IndividualFairnessView { grid-area: id; }
.GroupFairnessView { grid-area: gf; }
.RankingView { grid-area: r; }
.UtilityView { grid-area: u; }
.Footer { grid-area: f; }

// UI Components
.step2 { 
  color: #54aaff; 
  font-size: 1.6rem;
  margin-top: 8px;
  margin-left: 5px; 
}
.step3 { 
  color: #1c88f3; 
  font-size: 1.6rem; 
  margin-top: 8px;
  margin-left: 5px;
}