.title {
    display:flex;
    align-items: center;
    /* justify-content:center; */
    padding-left: 10px;

    height: 30px;
    margin: 1px 1px;
    /* font-weight: 600; */
    /* background-color: #747373;
    border: 1px solid #565555; */
    color: #2a4b5a;
    font-size: 1.4rem;
    font-weight: 400;
    /* text-transform: uppercase; */
  }

.subTitle {
  margin: 10px;
}

.step1 i { color: #b5dafe; font-size: 1.6rem; }
.step2 i { color: #54aaff; font-size: 1.6rem; }
.step3 i { color: #1c88f3; font-size: 1.6rem; }
.step4 i { color: #0575e5; font-size: 1.6rem; }
.step5 i { color: #003569; font-size: 1.6rem; }
