.title {
    display:flex;
    align-items: center;
    justify-content:center;

    height: 30px;
    width: 150px;
    margin: 1px 1px;
    font-weight: 600;
    background-color: #747373;
    border: 1px solid #565555;
    border-radius: 5px;
    color: white;
  }