$bg-color: #fafafa;
$dark-blue: #003569;
$dark-grey: #999;

$system-color: #003569;
$individual-color: lightgray;
$group-color1: mediumspringgreen; // For non-protected group
$group-color2: #ff7043;    // For protected group
$true-color: aqua;
$false-color: bisque;
$topk-color: mediumblue;
$non-topk-color: deepskyblue;
$topk-true-color: mediumblue;
$topk-false-color: burlywood;
$non-topk-true-color: deepskyblue;
$non-topk-false-color: wheat;
$instance-color: deepskyblue; // Same as non-topk-color
$outlier-color: red;
$individual-pair-color: #003569;
$between-group-pair-color: indigo;
$within-group-pair-color: hotpink;
