$bg-color: #fafafa;
$dark-blue: #003569;
$dark-grey: #999;

$system-color: #003569;
$individual-color: lightgray;
$group-color1: #00fa9a; // For non-protected group
$group-color2: #ff7043;    // For protected group
$true-color: aqua;
$false-color: bisque;
$topk-color: #4169e1; // royalblue
$non-topk-color: gray;
$topk-true-color: mediumblue;
$topk-false-color: burlywood;
$non-topk-true-color: deepskyblue;
$non-topk-false-color: wheat;
$instance-color: deepskyblue; // Same as non-topk-color
$outlier-color: red;
$individual-pair-color: #003569;
$between-group-pair-color: SLATEBLUE;
$within-group-pair-color: #c71585;

$utility-color: #c2185b;
$fairness-color: #003569;