@import "./_colors.scss";
@import "./_sizes.scss";


:export {
    rankingListViewWidth: $layout-first-column;
    rankingListViewHeight: $layout-third-row + $layout-fourth-row;

    groupColor1: $group-color1;
    groupColor2: $group-color2;
}