.RankingView {
  grid-area: r;
  width: 99%;
  background-color: white;
  padding: 0 10px;
  border-bottom: 1px solid lightgray;

  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 10% 10% 20% 30% 10%;
  grid-template-areas: 
    't t t'
    'tst tst tst'
    'wrst tf if'
    'wrp wrp wrp'
    'rbw rbw rbw';

  .rankingViewTitle {
    grid-area: t;

    border-bottom: 1.5px solid lightgray;
    padding-bottom: 10px;
  }

  .placeholder {
    grid-area: ph;
  }

  .topkSummaryTitle { 
    grid-area: tst;
    margin-top: 5px;
    // border-bottom: 1px solid #d7d7d7;
  }

  .wholeRankingPlotWrapper {
    grid-area: wrp;
  }

  .wholeRankingPlot {
    width: 90%;
  }

  .wholeRankingSummaryStat1 {
    grid-area: wrst;
    display: flex;
    justify-content: space-around;
  }

  .filterTitle { 
    grid-area: wrst;
    margin-top: 0;
    // border-bottom: 1px solid #d9d9d9;
  }

  .wholeRankingSummary { 
    grid-area: wrs; 

    .wholeRankingSummaryStat {
      display: flex;
    }
  }

  .topkSummaryStat {
    grid-area: tss;
    display: flex;
  }

  .utilityWrapper,
  .inputGroupFairnessWrapper,
  .mappingGroupFairnessWrapper,
  .outputGroupFairnessWrapper,
  .individualFairnessWrapper {
    width: 30%;
  }

  .utility,
  .inputGroupFairness,
  .mappingGroupFairness,
  .outputGroupFairness,
  .individualFairness {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .topkFilterView { 
    grid-area: tf;

    .topkInputWrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
    }
    .topkSlider {
    }
  }

  .intervalFilterView { 
    grid-area: if; 

    .intervalInputWrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
    }

    .intervalSlider {
      alignt-self: center;
    }
  }

  .runButtonWrapper {
    grid-area: rbw;
    display: grid;
    -ms-flex-pack: right;
    justify-content: right;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
  }
}