.RankingView {
  grid-area: r;

  background-color: white;
  padding: 0 10px;
  border-bottom: 1.5px solid lightgray;

  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 8% 5% 15% 25% 30%;
  grid-template-areas: 
    't t'
    'tst tst'
    'wrs tf'
    'tss if'
    'wrp wrp';

  .rankingViewTitle {
    grid-area: t;

    border-bottom: 1.5px solid lightgray;
    padding-bottom: 10px;
  }

  .wholeRankingPlot {
    grid-area: wrp;
  }

  .wholeRankingSummaryTitle { 
    grid-area: wrst;
    margin-top: 0;
    // border-bottom: 1px solid #d9d9d9;
  }

  .wholeRankingSummary { 
    grid-area: wrs; 

    .wholeRankingSummaryStat {
      display: flex;
    }

    .accuracyWrapper,
    .groupFairnessWrapper,
    .individualFairnessWrapper {
      width: 30%;
    }

    .accuracy,
    .groupFairness,
    .individualFairness {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  .topkSummaryTitle { 
    grid-area: tst;
    margin-top: 0;
    // border-bottom: 1px solid #d7d7d7;
  }

  .topkSummaryStat {
    grid-area: tss;
    display: flex;
  }

  .accuracyWrapper,
  .groupFairnessWrapper,
  .individualFairnessWrapper {
    width: 30%;
  }

  .accuracy,
  .groupFairness,
  .individualFairness {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .topkFilterView { 
    grid-area: tf;

    .topkInputWrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
    }
    .topkSlider {
    }
  }

  .intervalFilterView { 
    grid-area: if; 

    .intervalInputWrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
    }

    .intervalSlider {
      alignt-self: center;
    }
  }

  .runButtonWrapper {
    display: grid;
    -ms-flex-pack: right;
    justify-content: right;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
  }
}