.DistortionView {
  grid-area: d;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30px 150px 100px 250px 250px;
  grid-template-areas: // nv: navigation bar, lg: legend, st: individual status, dp: distortion plot
      't t'
      'lg mt'
      'cr mt'
      'cr mg1'
      'cr mg2';

  border-top: 1px solid #d9d9d9;

  .CorrelationView { grid-area: cr; }
  .LegendView { grid-area: lg; }
  .marginView1 { grid-area: mg1; }
  .marginView2 { grid-area: mg2; }

  .subTitle {
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
  }
  
  .distortionViewTitleWrapper {
    display: flex;

    .distortionViewTitle {
        grid-area: t;
        padding: 0;
    }
  }
  .MatrixWrapper {
    grid-area: mt;
    padding-top: 10px;
    display: flex;

    .IndividualStatusView {
      width: 25%;

      .IndividualStatus {
          height: 200px;
          padding: 5px;
          margin: 5px;
          background-color: #f7f7f7;
          border: 1px solid lightgray;
      }
    }

    .MatrixView {
    }
  }
  .Legend {
      grid-area: lg;
  }
  
  .DistortionPlot {
    grid-area: dp;

    .distortionViewBar {
      margin-left: 10px;
      padding: 5px;
      background-color: #e5e5e5;
      border: 1px solid lightgray;
      
      display: flex;
      align-items: center;
      // justify-content: flex-end;
    }
  }

  .CorrelationView {
    grid-area: cr;
  
    .matrixColorDropdownWrapper,
    .matrixDropdownWrapper,
    .correlationTableWrapper {
      border-radius: 3px;
      margin: 5px;    
      padding: 5px;
      align-items: center;
  
      .sortMatrixXdropdownWrapper,
      .sortMatrixYdropdownWrapper {
        display: flex;
        align-items: center;
        margin: 3px;
      }

      .colorMatrixDropdown,
      .sortMatrixXdropdown,
      .sortMatrixYdropdown {
        width: 90%;
      }
    }
  }
}