/* main html */
html {
  font-size: 0.8rem;
}
body {
  font-size: 1rem !important;
  color: #5b5b5b !important;
}

/* react-slider => customize */
.rangeslider-horizontal .rangeslider__fill {
  background-color: blue;
}

.dropdown-toggle {
  width: 90%;
}
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus,
.dropdown-toggle::after {
  background-color: white !important;
  color: #003569 !important;
}

.badge-success {
  font-size: 1.2rem;
}

/* ant design => customize */
.ant-slider-track,
.ant-slider-handle {
  background-color: #00346b !important;
}
.ant-table {
  width: 100% !important;
  margin: 10px auto !important;
  font-size: 1rem !important;
}
.ant-table-row > td,
.ant-table-thead > tr > th {
  padding: 8px !important;
  font-size: 1rem !important;
}
.ant-table-thead > tr > th {
  background-color: #b4d9fe !important;
}

.ant-radio-group {
  font-size: 1rem !important;
  margin: 2px !important;
  margin-left: 10px !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: #ff7043 !important;
  border-color: #ff7043 !important;
}

.ant-radio-button-wrapper {
  background-color: lightgray !important;
  padding: 0 15px !important;
}

.ant-badge-status-error {
  background-color: #ff7043 !important;
}

.dropdownmenu-show {
  width: 90% !important;
}

.ant-tag {
  padding: 0 10px !important;
  font-size: 1.2rem !important;
}